In [1]:
import numpy as np
import pandas as pd
import datetime
import calendar
from dateutil import relativedelta
import xlrd
import pprint

In [2]:
df = pd.read_excel('excel file/test.xlsx', index_col=0)

In [3]:
df

         end      name
start
44438  44451  山口、木村、澤井
44452  44465     持田、村越
44466  44479     小林、伊藤
44480  44493    佐々木、中山

In [2]:
df_sheet2 = pd.read_excel('excel file/test.xlsx', sheet_name='Sheet2')

In [3]:
df_sheet2

   start    end      name
0  44424  44436  梶野、持田、村越
1  44437  44450  平野、伊藤、小林
2  44451  44464  大谷、小原、中山
3  44465  44478   旭、澤井、木村
4  44479  44493  遠藤、山口、市川
5  44494  44507   高橋、和田、森

In [32]:
#今日の日付をシリアル値にして担当の週の人だけを抽出
dt = datetime.date.today() - datetime.date(1899, 12, 31)
today_serial = dt.days + 1
for n in range(0,len(df_sheet2['name'])-1):
    start = df_sheet2['start'][n]
    end = df_sheet2['end'][n]
    if start <= today_serial <= end:
        print(df_sheet2['name'][n])
    else:
        pass

平野、伊藤、小林