In [14]:
import numpy as np
import pandas as pd
import random
import datetime
import calendar
from dateutil import relativedelta
import xlrd
import pprint

In [3]:
name = ["a","b","c"]

In [4]:
name[1]

'b'

In [7]:
random.randrange(3)

2

In [10]:
len(name)-1

2

In [21]:
name_num = random.randrange(len(name)-1)

In [16]:
name[name_num]

'a'

In [22]:
print(name[name_num]+"さんです")

bさんです

### datetimeモジュールの使い方

In [8]:
dt_now = datetime.datetime.now()

In [9]:
dt_now

datetime.datetime(2021, 9, 3, 5, 6, 43, 7219)

In [33]:
datetime.date.today()

datetime.date(2021, 8, 26)

In [35]:
print(datetime.date.today())

2021-08-26

In [37]:
def date_func(year, month, day, hour, minute):
    dt = datetime.datetime(year=year, month=month, day=day)
    return dt

In [38]:
print(dt_now)

2021-08-26 08:46:17.320543

In [39]:
dt_now.year

2021

In [40]:
dt_now.month

8

#### 日付の加算、減算

In [11]:
#3日加算
dt_now + datetime.timedelta(days=3)

datetime.datetime(2021, 9, 6, 5, 6, 43, 7219)

In [13]:
calendar.prmonth(dt_now.year, dt_now.month)

   September 2021
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30

In [15]:
#一週間後
dt_now + relativedelta.relativedelta(weeks=1)

datetime.datetime(2021, 9, 10, 5, 6, 43, 7219)

In [17]:
#今週頭
dt_now - relativedelta.relativedelta(days=dt_now.weekday(), hour=0, minute=0, second=0)

datetime.datetime(2021, 8, 30, 0, 0, 0, 7219)

### Excelファイルをインポート　xlrdライブラリ

In [2]:
db = xlrd.open_workbook('excel file/test.xlsx')

In [7]:
type(db)

xlrd.book.Book

In [3]:
db.sheet_names()

['Sheet1', 'Sheet2']

In [4]:
sheets = db.sheets()

In [10]:
sheets[0]

In [5]:
sheet = db.sheet_by_name('Sheet1')

In [17]:
cell = sheet.cell(1,2)

In [18]:
cell

text:'山口、木村、澤井'

In [19]:
sheet.cell_value(1,2)

'山口、木村、澤井'

In [20]:
sheet.col(1)

[text:'end', number:44451.0, number:44465.0, number:44479.0, number:44493.0]

In [21]:
sheet.col_values(1)

['end', 44451.0, 44465.0, 44479.0, 44493.0]

##### 日付が数字になってしまう

#### datimeに変換する

In [38]:
def excel_date(num):
    from datetime import datetime, timedelta
    return(datetime(1899, 12, 30) + timedelta(days=num))

In [40]:
excel_date(sheet.cell_value(1,1))

datetime.datetime(2021, 9, 12, 0, 0)

In [22]:
pprint.pprint([sheet.row_values(x) for x in range(4)])

[['start', 'end', 'name'],
 [44438.0, 44451.0, '山口、木村、澤井'],
 [44452.0, 44465.0, '持田、村越'],
 [44466.0, 44479.0, '小林、伊藤']]

In [23]:
def get_list_2d(sheet, start_row, end_row, start_col, end_col):
    return [sheet.row_values(row, start_col, end_col + 1) for row in range(start_row, end_row + 1)]

In [27]:
l_2d = get_list_2d(sheet, 0, 3, 0, 2)

In [28]:
l_2d

[['start', 'end', 'name'],
 [44438.0, 44451.0, '山口、木村、澤井'],
 [44452.0, 44465.0, '持田、村越'],
 [44466.0, 44479.0, '小林、伊藤']]

In [29]:
sheet.nrows

5

In [30]:
def get_list_2d_all(sheet):
    return [sheet.row_values(row) for row in range(sheet.nrows)]

In [31]:
l_2d_all = get_list_2d_all(sheet)

In [32]:
l_2d_all

[['start', 'end', 'name'],
 [44438.0, 44451.0, '山口、木村、澤井'],
 [44452.0, 44465.0, '持田、村越'],
 [44466.0, 44479.0, '小林、伊藤'],
 [44480.0, 44493.0, '佐々木、中山']]

In [34]:
l_2d_all[1][2]

'山口、木村、澤井'

#### 数値や文字列のデータを読み込んで分析するのであればpandas
#### 既存のExcelファイルの書式のを保ったまま編集するのならばopenpyxl

### PandasによるExcelファイルの読み込み

In [6]:
df = pd.read_excel('excel file/test.xlsx', index_col=0)

In [7]:
df

         end      name
start
44438  44451  山口、木村、澤井
44452  44465     持田、村越
44466  44479     小林、伊藤
44480  44493    佐々木、中山

In [42]:
df_sheet = pd.read_excel('excel file/test.xlsx', sheet_name='Sheet1', index_col=0)

In [19]:
def get_datetime(val: object) -> datetime.datetime:
    val_type = type(val)
    if val_type is datetime.datetime:
        return val
    if issubclass(val_type, datetime.datetime):
        return val
    if val_type is int:
        if val < 60:
            days = val -1
        else:
            days = val -2
        return pd.to_datetime('1900/01/01') + datetime.timedelta(days=days)
    return None

In [22]:
if __name__ == '__main__':
    sheet = pd.read_excel('excel file/test.xlsx', sheet_name='Sheet1', index_col=0)
    for index, row in sheet.iterrows():
        date = get_datetime(row[0])
        if date is not None:
            print(date.strftime('%Y/%m/%d'))

2021/09/12
2021/09/26
2021/10/10
2021/10/24